openapi: 3.0.0
info:
  version: 1.0.0
  title: OpenAPISample
  contact:
    email: venkata_aditya_ratnala@epam.com
    name: Aditya
    url: 'https://aditya.com/contacts'
  description: This is a sample API created to integrate with github actions.
  termsOfService: 'https://aditya.com/tos'
servers:
  - url: 'https://www.myserver.com'
    description: Test server
paths:
  /employees:
    description: This is to create or retrieve an employee
    get:
      description: This is to retrieve an employee
      security:
        - JWTToken: []
      responses:
        '200':
          description: Below are the list of employees
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employees'
        '401':
          description: Unauthorized error
          content:
            application/json:
              example: The user name and password are wrong
        '403':
          description: Forbidden error
          content:
            application/json:
              example: You are not authorized to enter here
        '406':
          description: Unacceptable the data should be in the below format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employees'
        '429':
          description: The number of requests have reached the limit
          content:
            application/json:
              schema:
                type: string
                example: limit has been reached
    post:
      security:
        - JWTToken: []
      requestBody:
        description: This is to create a new employee
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Employee'
      responses:
        '201':
          description: Employee has been created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
        '401':
          description: Unauthorized error
          content:
            application/json:
              example: The user name and password are wrong
        '403':
          description: Forbidden error
          content:
            application/json:
              example: You are not authorized to enter here
        '406':
          description: Unacceptable the data should be in the below format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employees'
        '429':
          description: The number of requests have reached the limit
          content:
            application/json:
              schema:
                type: string
                example: limit has been reached
  '/employees/{employeeid}':
    description: This is to retrieve or delete a specific employeeid
    get:
      security:
        - JWTToken: []
      description: This is to retrieve an employee
      responses:
        '200':
          description: Below is the information of the selected employee
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
        '401':
          description: Unauthorized error
          content:
            application/json:
              example: The user name and password are wrong
        '403':
          description: Forbidden error
          content:
            application/json:
              example: You are not authorized to enter here
        '406':
          description: Unacceptable the data should be in the below format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employees'
        '429':
          description: The number of requests have reached the limit
          content:
            application/json:
              schema:
                type: string
                example: limit has been reached
    delete:
      security:
        - JWTToken: []
      responses:
        '201':
          description: Employee has been deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
        '401':
          description: Unauthorized error
          content:
            application/json:
              example: The user name and password are wrong
        '403':
          description: Forbidden error
          content:
            application/json:
              example: You are not authorized to enter here
        '406':
          description: Unacceptable the data should be in the below format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employees'
        '429':
          description: The number of requests have reached the limit
          content:
            application/json:
              schema:
                type: string
                example: limit has been reached
security:
  - JWTToken: []
components:
  securitySchemes:
    JWTToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Employee:
      type: object
      properties:
        id:
          type: number
          maximum: 1000
          example: 123
          minimum: 1
        name:
          type: string
          example: NAME
          pattern: '^([A-Z]){3,10}$'
          maxLength: 10
          minLength: 3
        title:
          type: string
          example: TECHNICALPOSITION
          pattern: '^([A-Z]){10,20}$'
          maxLength: 20
          minLength: 10
      additionalProperties: false
      required:
        - gender
        - id
        - name
    Employees:
      type: array
      items:
        $ref: '#/components/schemas/Employee'

